<% content_for :head do %>
  <script src=""></script>
<% end %>

<% h_form '/form', method: :post do %>
  <% h_field_set(:class => "office-set") do %>
    <%= captcha_tags ajax: true %>
    <%= submit_tag "Отправить" %>
    <%= "<p>test</p>" %>
  <% end %>
<% end %>

<%== "<h1>asfafsas</h1>" %>

<% (0..10).each do |n| %>
  <%= n %>
<% end %>

<form action="/test">
  <label for="test">dsgggdsgsgd</label>
  <%= submit "Test" %>
</form>

